*{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}
form{
    background-color: #444;
    align-items: center;
    border: none;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    text-align: center;
    width: 500px;
    height: 600px;
    margin-top: 50px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    margin-left: 530px;
    margin-top: 65px;
}
h1{
    padding-bottom: 80px;
    color: #ffa500;
    font-weight: 300;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    padding-top: 50px;
}
.yes{
    background-color: #ffa500;
    padding: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 5px;
    width: 209px;
    color: #000;
    font-weight: 700;
    border: none;
    width: 224px;
    position: relative;
    display: flex;
    flex-direction: inline;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-left: 133px;
    margin-top: 80px;
}
.yes:hover{
    background-color: #aaa;
    color: #000;
    box-shadow: 0 5px 50px 0 #ffa500 inset,
                0 5px 50px 0 #ffa500,
                0 5px 50px 0 #ffa500 inset,
                0 5px 50px 0 #ffa500;
    letter-spacing: 10px;
}
.main{
    background-color: #aaa;
    padding: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 5px;
    width: 209px;
    color: #000;
    font-weight: 700;
    border: none;
    width: 224px;
    position: relative;
    display: flex;
    flex-direction: inline;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-left: 133px;
    margin-top: 80px;
}
.main:hover{
    background-color: #aaa;
    color: #000;
    box-shadow: 0 5px 50px 0 #ffa500 inset,
                0 5px 50px 0 #ffa500,
                0 5px 50px 0 #ffa500 inset,
                0 5px 50px 0 #ffa500;
    letter-spacing: 10px;
}
main a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
